{% extends "basetemplate.html" %}
{%block compHomepage %}
        <section class="editp">
            <p ><span style="text-decoration:underline;" >Brief
                Description:</span><br>To get the complexity of any
        python program, upload the python program file or enter(/paste) the
        code in the text-area and hit 'Submit' button.</p>
        </section>
        <br>

        <div class="container">
                <p>Note: The program should contain only function definition and
            the specified arguments in the function definition should be just
            reference to the array</p>

        <form class ="myform" enctype="multipart/form-data" action="" method="post"> <!-- Do not forget to add: enctype="multipart/form-data" -->
            {% csrf_token %}
            {{ form.non_field_errors }}
<div class="fieldWrapper">
    {{ form.function_name.errors }}
    <label for="{{ form.function_name.id_for_label }}">Enter function name:</label>
    {{ form.function_name }}
</div>
    <br>
<div class="fieldWrapper">
    {{ form.file.errors }}
    <label for="{{ form.file.id_for_label }}">Upload a .py File:</label>
    {{ form.file }}
</div>
    <br>
    <br>
            <input class="buttonsub" type="submit" value="Submit">
        </form>
        <div class="styletable">
        <h2>Recent Uploads</h2>
        <ul>
        {% for f in allinstances %}
        <li>
        <a href = "{% url 'compxdet' %}">
        {{f.fname_field}}</a>  {{f.complexity_field}}
        {{f.id}}
        </li>
        {% endfor %}
        </ul>
        </div>

        <div class="clr">
        </div>
{% endblock %}
