{% extends "basetemplate.html" %}
    {% block compSuccess %}
    <div class="container">
        <h2>Program : {{instance1.fname_field}}</h2>
        {{instance1.code_field}}

        <br>
        <h1>The complexity of the program :  O({{instance1.complexity_field}})</h1>
    </div>
        <h2>Recent Uploads</h2>
        <ul>
        {% for f in allinstances %}
        <li>
        {{f.fname_field}}{{f.complexity_field}}
        <h4>program:</h4>
        {{f.code_field}}
        </li>
        {% endfor %}

        </ul>
    {% endblock %}
