{% extends "basetemplate.html" %}
    {% block compSuccess %}
    <div class="container">
        <h2>Program :{{instances.fname_field}} <h2>
        <h4>program:{{instances.id}}</h4>
        <br>
        <h1>The complexity of the program: O (  {{instances.complexity_field}} ) </h1>

        <h4>Code : </h4>
        {{instances.code_field}}
        <br>
        <br>
        <h4>Last 3 time swamps</h4>
        {{instances.time1_field}}
        <br>
        {{instances.time2_field}}
        <br>
        {{instances.time3_field}}
        <br>
        {{instances.complexity_key}}
        <br>
    </div>
        

    {% endblock %}
