<!DOCTYPE html>

<html>
    <head>
        <title>Complexity Determiner</title>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        {% load static %}
        <link rel ="stylesheet" href="{% static 'css/homestyles.css' %}">

    </head>

    <body>

        <header id="heading">
            <h1 >Complexity Determiner implemented for python
            programs</h1>
        </header>
        <section class="editp">
            <p ><span style="text-decoration:underline;" >Brief
                Description:</span><br>To get the complexity of any
        python program, upload the python program file or enter(/paste) the
        code in the text-area and hit 'Submit' button.</p>
        </section>
        <br>

        <div class="container">
                <p>Note: The program should contain only function definition and
            the specified arguments in the function definition should be just
            reference to the array</p>

        <form class ="myform" enctype="multipart/form-data" action="" method="post"> <!-- Do not forget to add: enctype="multipart/form-data" -->
            {% csrf_token %}
            {{ form }}
            <input class="buttonsub" type="submit" value="Submit">
        </form>
        <div class="styletable">
            <table>
                <caption class=tablehead>Standard Algorithms</caption>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/selectionSort.py"
                            target=__blank>Selection Sort</a>
                    </td>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/selectionSort.py"
                            target=__blank>Selection Sort</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/insertionSort.py"
                            target=__blank>Insertion Sort</a>
                    </td>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/selectionSort.py"
                            target=__blank>Selection Sort</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/selectionSort.py"
                            target=__blank>Quick Sort</a>
                    </td>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/selectionSort.py"
                            target=__blank>Quick Sort</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/mergeSort.py"
                            target=__blank>Merge Sort</a>
                    </td>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/quickSort.py"
                            target=__blank>Quick Sort</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                            target=__blank>Factorial</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                            target=__blank>Bubble Sort</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                            target=__blank>Factorial</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                            target=__blank>DNF Sort</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/binarySearch.py"
                            target=__blank>Binary Search</a>
                    </td>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/binarySearch.py"
                            target=__blank>Factorial</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/linearSearch.py"
                            target=__blank>Linear Search</a>
                    </td>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/linearSearch.py"
                            target=__blank>Factorial</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/quickSort.py"
                            target=__blank>Heap Sort</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a
                            href="https://raw.githubusercontent.com/NikhilistRaj/Algorithms-Implentation-in-Python/master/quickSort.py"
                            target=__blank>Pop Stack</a>
                    </td>
                    <td>
                        <a
                            href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                            target=__blank>Pop Stack</a>
                    </td>
                </tr>
                <tr>
                    <td>
                            <a
                                href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                                target=__blank>Find max_element</a>
                    </td>
                    <td>
                            <a
                                href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                                target=__blank>Pop Stack</a>
                    </td>
                </tr>
                <tr>
                    <td>
                            <a
                                href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                                target=__blank>Factorial</a>
                    </td>
                    <td>
                            <a
                                href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                                target=__blank>Fibonacci Sequence</a>
                    </td>
                </tr>
                <tr>
                    <td>
                            <a
                                href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                                target=__blank>Fibonacci Sequence</a>
                    </td>
                    <td>
                            <a
                                href="https://github.com/NikhilistRaj/Algorithms-Implentation-in-Python/blob/master/bubbleSort.py"
                                target=__blank>Factorial</a>
                    </td>
                </tr>
            </table>
        </div>

        </div> <!--container 1-->
        <div class="clr">   </div>
        <footer id="footstyle">
            Created by: astrainL3gi0N
        </footer>

    </body>

</html>


